@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Xpense</h1>
    <p>To get started, start adding your expenses. You navigate to Expenses and Categories using above navigation.</p>
</div>
