@model Xpense.Models.ExpenseCategoryAddModel;

@{
    ViewData["Title"] = "Add";
}

<div>
    <div class="container">
        <div class="row" style="padding-top:40px">
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <form asp-controller="Category" asp-action="Add" method="post">
                    <div class="card">
                        <div class="card-header">
                            Add New Expense Category
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="amount" class="form-label">Category Name</label>
                                <input type="text" class="form-control" asp-for="Name">
                                <span style="color:red;" asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="card-footer"><button type="submit" class="btn btn-primary">Add</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>